<% layout('layouts/boilerplate') %> 
<style>
    body {
        background-color: #e7d4c0;
    }
</style>
<section class="container mb-3" style="width: 35em; height: 56em; border: 2px solid black;">
    <div class="row">
        <h1 class="text-center">Adding New Campground</h1>
        <hr>
        <img class="img-fluid mb-3" src="https://images.unsplash.com/photo-1476041800959-2f6bb412c8ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FtcGdyb3VuZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="">
    </div>
    <form action="/campgrounds" method="post">
        <div class="row mb-3">
            <div class="col-6">
                <label for="first">First Name:</label>
                <select class="form-select" name="first" id="first" required>
                    <option value="">--Choose--</option>
                    <% for (let descriptor of descriptors) { %>
                        <option value="<%= descriptor %>"><%= descriptor %></option>
                    <% } %>
                </select>
            </div>

            <div class="col-6">
                <label for="last">Last Name:</label>
                <select class="form-select" name="last" id="last" required>
                    <option value="">--Choose--</option>
                    <% for (let place of places) { %>
                        <option value="<%= place %>"><%= place %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="location">Location:</label>
                <select class="form-select" name="location" id="location" required>
                    <option value="">--Choose--</option>
                    <% for (let city of cities) { %>
                        <option value="<%= `${city.city}, ${city.state}` %>"><%= `${city.city}, ${city.state}` %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="price">Price:</label>
                <input class="form-control" type="number" placeholder="price" name="price" id="price" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="description">Description:</label>
                <textarea class="form-control" placeholder="description" name="description" id="description" cols="63" rows="1" required style="resize: none"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="imageSrc">Image URL:</label>
                <input class="form-control" type="text" placeholder="image URL" name="imageSrc" id="imageSrc" required>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
        <a href="/campgrounds"><button type="button" class="btn btn-danger mx-3">Discard</button></a>
    </form>
</section>
